<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 id="headerInfo"></h1>

    <div id="results"></div>
</div>

<script id="user-template" type="text/x-handlebars-template">
    <div class="filter-container">
        <div class="header"> Выберите друзей</div>
        <div class="inputs-scope">
            <input 
                type="text"
                class="input-field left-input-field"
                placeholder="&#xF002; Начните вводить имя друга" 
            />
            <input 
                type="text"     
                class="input-field right-input-field"
                placeholder="&#xF002;   Начните вводить имя друга"         
            />
        </div>

        <div class="flex-container">
            <div class="flex-item friends-list unfiltered-list">
               
                <div class="list-header">
                    <b>Ваши друзья</b>
                </div>
                <hr>
                
                <div class="scroll-area left-list">
                    {{#each list}}
                    <div class="friend-row" draggable="true" id="{{id}}">
                        <img src="{{photo_100}}" />
                        {{first_name}} {{last_name}}
                        <i 
                            class="filter-icon fa fa-plus fa-lg" 
                            aria-hidden="true"
                        ></i>
                    </div>
                    {{/each}}
                </div>  
            </div>

            <div class="flex-item friends-list filtered-list">

                <div class="list-header">
                    <b>Список друзей</b>
                </div>
                <hr>

                <div class="scroll-area right-list">
                    {{#each list2}}
                    <div class="friend-row" id="{{id}}">
                        <img src="{{photo_100}}" /> 
                        {{first_name}} {{last_name}}
                        <i 
                            class="unfilter-icon fa fa-times fa-lg" 
                            aria-hidden="true"
                        ></i>
                    </div>
                    {{/each}}
                </div>
            </div>
            <!-- <div class="raw-item" id="raw">Raw box</div> -->

        </div>
        <div class="footer"> 
            <div class="save-button"> 
                Сохранить 
            </div>
        </div>
            

    </div>
</script>
<script src="/SDK/script2.js"></script>
<!-- <script src="https://use.fontawesome.com/4843d2ab81.js"></script> -->
</body>
</html>
