body {
    background-color: gray
}

#headerInfo {
    width: 35%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.filter-container {
    width: 70%;
    margin: 0 auto;
    border-radius: 35px;
    background: white;    
}

.unfiltered-list {
    border-right-style: solid;
    border-width: 1px;
    border-right-color: lightgrey;
}

.list-header {
    display: flex;
    align-items: center;
    height: 30px;    
    font-size: 15px;
    padding-left: 10px;
}
.inputs-scope {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    height: 50px;
}

.input-field {
    width: 45%;
    height: 28px;
    border-radius: 40px;
}

.flex-container {
    display: flex;f
    justify-content: space-between;
}

.flex-container>.flex-item {
    flex: 1;
}

.flex-container>.raw-item {
    width: 5rem;

}

.friends-list {
    /* max-height: 500px; */
    background-color: white;
    margin: 0 5px;
    padding: 0 5px;
}

.friend-row {
    display: inline-flex;
    width: 95%;
    /* margin: 0 7px; */
    padding: 5px;    
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-color : lightgrey;
    border-width : 1px;
}

.friend-row:hover {
    background: grey;
}

.scroll-area {
    max-height: 500px;
    overflow: auto;
}

.friend-row>img {
    border-radius: 50%;
}

.save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    height: 35px;
    width: 90px;
    background: #267463;
    border-radius: 15px;
    border-bottom-style: solid;
    border-color: #3AA0D6;
    border-width: 1px;
    color: white;
}

.save-button:hover {
    background: #186063;    
}

.header {
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 25px;
    padding-left: 10px;
    background-color: #267463;
    border-radius: 15px 15px 0 0;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #B9DAD1;
    height: 70px;
    border-radius: 0 0 15px 15px;    
}

input {
    padding: 0 10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.hidden {
    display:none
}

.save-button {
    cursor: pointer;
}

.save-button:active {
    background: #082D08;
}

.left-list > .friend-row {
    cursor: move;    
}

.fa {
    cursor: pointer;    
}

.drop-zone {
    background: #A2A9A2;    
}

div.clickEffect {
    position: fixed;
    box-sizing: border-box;
    border-style: solid;
    border-color: #B0D5B4;
    border-radius: 50%;
    animation: clickEffect 0.4s ease-out;
    z-index: 99999;
}

@keyframes clickEffect {
    0% {
        opacity: 1;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width: 0.5em;
    }
    100% {
        opacity: 0.2;
        width: 15em;
        height: 15em;
        margin: -7.5em;
        border-width: 0.03em;
    }
}